body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ffa41b;
}

/* Scroll To Top Button */
#scrollToTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  background-color: #FF9800;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 3%;
  right: 2%;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#scrollToTop:hover {
  cursor: pointer;
  background-color: #333;
}

#scrollToTop:active {
  background-color: #555;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}

.sectionHeading{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
}

.logoRow div{
  padding: 0 0 0 10px;
}

.logoRow .logo-col{
  margin: 0;
  padding: 0 40px;
}

.logo-col{
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar-logo-img{
  width: 65px;
  height: 65px;
}

.navbar-brand{
  padding-left: 5%;
  font-size: 2.4rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.nav-link{
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-nav{
  margin-left: auto;
  padding-right: 5%;
}

/* ##################################### Home Section #####################################*/
#home{
  padding: 2% 0 5% 0;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.main-image{
  height: 100%;
  width: 70%;
}

/* #######################################Features Section ######################################*/
#features{
  background-color: #f4f4f4;
  text-align: center;
  padding: 5% 0;
  background-image: url('images/black-thread-light.png');
}

.features-div {
  margin-top: 2rem;
}

.icon {
  color: #ffa41b;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #cf7500;
}

.audioVideoContainer{
  position: relative;
}

.headphoneIcon{
  margin-right: -25px;
}

.videoIcon{
  margin-left: -25px;
}

.slashIcon {
  transform: rotate(35deg);
  padding-bottom: 5px;
}

/* ###########################################About Us Section #########################################*/
#aboutUs{
  text-align: center;
  padding: 3% 5%;
}

.eatSure {
  background-color: #efddc9;
  border-radius: 22px;
}

.eatSure .row {
  width: 100%;
  padding: 25px 0;
  margin: auto;
}

.eatSure .row .col-sm-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 10px;
}

.borderLeft {
  border-left: 1px solid black;
}

.icon-wrapper {
  background-color: #e89b3d;
  color: white;
  padding: 2px 8px;
  border-radius: 3px;
}

.eatSure .icon-wrapper svg {
  width: 10px;
  height: 10px;
}

.text {
  margin-top: 10px;
}

.knowMoreBtn {
  border: 1px solid #e89b3d;
  border-radius: 22px;
}

.knowMoreBtn:hover {
  background-color: #e89b3d;
  color: snow;
}

.knowMoreBtn:focus {
  background-color: #e89b3d;
}

/* ########################################About Jyotish Section ########################################*/
#aboutJyotish {
  padding: 4% 5%;
  color: black;
  text-align: center;
  background-color: white;
  background-image: url('images/black-thread-light.png');
}

#aboutJyotish p {
  text-align: left;
}

.jyotishImgCol {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* ###########################################Pricing Section ############################################*/
#pricing {
  padding: 3% 10%;
  text-align: center;
}

#pricing .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pricing .row {
  width: 80%;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-col .btn{
  border-radius: 20px;
}

#pricing .card{
  border-radius: 20px;
  box-shadow: 0 1px 7px 0px #a2a2a2;
}

.card-header{
  border-radius: 20px 20px 0 0 !important;
  background-color: #ffc368;
  border: none;
  color: snow;
}

.pricing-col .card-body {
  border: none;
  border-radius: 0 0 20px 20px;
}

/* #################################################Testimonal Section #####################################*/
#testimonials {
  text-align: center;
  background-color: white;
  background-image: url('images/black-thread-light.png');
  padding: 4% 15%;
}

h2 {
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-indicators{
  bottom: -15%;
  color: black;
}

/* ######################################Call To Action Section ############################################*/
#cta{
  text-align: center;
  color: white;
  padding: 4% 10%;
}

.download-btn-cta{
  margin: 1% 3% 2% 0;
}

/* ###############################################Footer Section ############################################*/
#footer{
  text-align: center;
  color: white;
  padding: 3% 0 2% 0;
  background-color: #000000;
}

a.social {
  text-decoration: none;
}

.social{
  margin: 0 15px 15px 0;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}

.social:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 450px) {
  .navbar-nav{
    margin-right: auto;
    margin-left: 0;
  }

  .logoRow .logo-col{
    padding: 0;
  }

  .logo-col {
    justify-content: center;
  }

  .navbar-brand {
    font-size: 2.2rem;
  }

  .navbar-logo-img {
    width: 50px;
    height: 50px;
  }

  .homeContainer h1 {
    margin: 25px auto;
  }

  .download-button {
    font-size: 0.9rem;
    width: 44%;
  }

  #aboutUs, #aboutJyotish, #pricing, #testimonials {
    padding: 10% 0;
  }

  #aboutUs p {
    font-size: 0.9rem;
  }

  .sectionHeading {
    margin-bottom: 1.5rem;
  }

  #pricing .row {
    width: 100%;
  }

  .carousel-item h2 {
    font-size: 1.2rem;
  }

  .testimonial-img {
    width: 20%;
    margin: 10px;
  }

  #cta {
    padding: 10% 2%;
  }

  #cta h2 {
    font-size: 1.3rem;
  }

  #footer {
    padding: 5% 0;
  }
}
