body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ffa41b;
}

.sectionHeading{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
}

.logoRow div{
  padding: 0 0 0 10px;
}

.logoRow .logo-col{
  margin: 0;
  padding: 0 40px;
}

.logo-col{
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar-logo-img{
  width: 65px;
  height: 65px;
}

.navbar-brand{
  padding-left: 5%;
  font-size: 2.4rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.nav-link{
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-nav{
  margin-left: auto;
  padding-right: 5%;
}

/* ##################################### Home Section #####################################*/
#home{
  padding: 2% 0 5% 0;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.main-image{
  height: 100%;
  width: 70%;
}

/* #######################################Features Section ######################################*/
#features{
  background-color: #f4f4f4;
  text-align: center;
  padding: 5% 0;
  background-image: url('images/black-thread-light.png');
}

.features-div {
  margin-top: 2rem;
}

.icon {
  color: #ffa41b;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #cf7500;
}

.audioVideoContainer{
  position: relative;
}

.headphoneIcon{
  margin-right: -25px;
}

.videoIcon{
  margin-left: -25px;
}

.slashIcon {
  transform: rotate(35deg);
  padding-bottom: 5px;
}

/* ###########################################About Us Section #########################################*/
#aboutUs{
  text-align: center;
  padding: 3% 5%;
}

.eatSure {
  background-color: #efddc9;
  border-radius: 22px;
}

.eatSure .row {
  width: 100%;
  padding: 25px 0;
  margin: auto;
}

.eatSure .row .col-sm-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 10px;
}

.borderLeft {
  border-left: 1px solid black;
}

.icon-wrapper {
  background-color: #e89b3d;
  color: white;
  padding: 2px 8px;
  border-radius: 3px;
}

.eatSure .icon-wrapper svg {
  width: 10px;
  height: 10px;
}

.text {
  margin-top: 10px;
}

.knowMoreBtn {
  border: 1px solid #e89b3d;
  border-radius: 22px;
}

.knowMoreBtn:hover {
  background-color: #e89b3d;
  color: snow;
}

.knowMoreBtn:focus {
  background-color: #e89b3d;
}

/* ###########################################Pricing Section ############################################*/
#pricing {
  padding: 3% 10%;
  text-align: center;
  background-color: white;
  background-image: url('images/black-thread-light.png');
}

#pricing .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pricing .row {
  width: 80%;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-col .btn{
  border-radius: 20px;
}

#pricing .card{
  border-radius: 20px;
  box-shadow: 0 1px 7px 0px #a2a2a2;
}

.card-header{
  border-radius: 20px 20px 0 0 !important;
  background-color: #ffa41b;
  border: none;
  color: snow;
}

.pricing-col .card-body {
  border: none;
  border-radius: 0 0 20px 20px;
}

/* #################################################Testimonal Section #####################################*/
#testimonials {
  text-align: center;
  color: white;
  padding: 4% 15%;
}

h2 {
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-control-prev{
  left: -5%;
}

.carousel-control-next{
  right: -5%;
}

.carousel-indicators{
  bottom: -15%;
}

/* ######################################Call To Action Section ############################################*/
#cta{
  text-align: center;
  background-color: white;
  background-image: url('images/black-thread-light.png');
  color: black;
  padding: 4% 10%;
}

.download-btn-cta{
  margin: 1% 3% 4% 0;
}

/* ###############################################Footer Section ############################################*/
#footer{
  text-align: center;
  color: white;
  padding: 3% 0 2% 0;
  background-color: #000000;
}

a.social {
  text-decoration: none;
}

.social{
  margin: 0 15px 15px 0;
  cursor: pointer;
  color: white;
  transition: all 0.5s ease;
}

.social:hover {
  transform: scale(1.4);
}
